<template name="grumble">
	<form class="main">
		<fieldset>
    	<legend>New Grumble</legend>
			<table border="0">
				<tr>
					<td>
						<label class="control-label" for="shortdesc"><span style="color:red;">*</span>&nbsp;Issue Short Description</label>
						<input name="shortdesc" type="text" value="" />
					</td>
					<td>
						<label class="control-label" for="urgency">Urgency</label>
						<select name="urgency" >
							<option value="high">High</option>
							<option value="medium">Medium</option>
							<option value="low">Low</option>
						</select>
					</td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="date">Date</label>
						<input name="date" type="date" value="{{date}}" />
					</td>
					<td>
						<label class="control-label" for="time">Time</label>
						<input name="time" type="time" value="{{time}}" />
					</td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="dept">Department/Building</label>
						<input name="dept" type="text" value="" />
					</td>
					<td>
						<label class="control-label" for="unit">Unit</label>
						<input name="unit" type="text" value="" />
					</td>
				</tr>
				<tr>
					<td>
						<label class="control-label" for="room">Room</label>
						<input name="room" type="text" value="" />
					</td>
					<td>
						<label class="control-label" for="category">Category</label>
						<input name="category" type="text" value="" />
					</td>
				</tr>
			</table>
			<label class="control-label" for="details" style="font-size: large; margin-left:2%;" style="margin-left:2%;"><span style="color:red;">*</span>&nbsp;Please use this box to describe the issue in enough detail that it can be resolved, then click the submit button.</label>
						<textarea rows="5" cols="80" name="details" value="" style="width: 95%;margin-left:2%;"/>
			<div class="control-group">
				<div class="controls">
					<input type="submit" value="Submit" class="btn btn-primary"/>
				</div>
			</div>
		</fieldset>
	</form>
</template>

<template name="grumble2">
	<form class="main">
		<fieldset>
    	<legend>New Grumble</legend>
				<label class="control-label" style="font-size: large;" for="details"><span style="color:red; ">*</span>&nbsp; Please use this box to describe the issue in enough detail that it can be resolved, then click the submit button.</label>
				<textarea  name="details" value="" rows="14" style="width: 95%; height: 100%; margin-left:2%;"/>
			<div class="control-group">
				<div class="controls">
					<input type="submit" value="Submit" class="btn btn-primary"/>
				</div>
			</div>
		</fieldset>
	</form>
</template>

<template name="thankyou">
	Thank you for submitting the issue. Click "Grumble" to submit another issue.
</template>
